<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <title>Painel do Monitor - Página Inicial</title>
  <link rel="stylesheet" href="/css/index.css" />
  <!-- <link rel="stylesheet" href="/css/monitor.css" /> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <!-- Sidebar -->
  <div id="sidebar">
      <!-- From Uiverse.io by satyamchaudharydev --> 
      <button class="button" data-text="Awesome">
        <span class="actual-text">&nbsp;MENU&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;MENU&nbsp;</span>
      </button>
      <ul>
      <li>
        <a href="/registro" target="_blank" data-tooltip="Registro Presença">
          <i class="fas fa-calendar-check"></i><span class="link-text">Registro Presença</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" onclick="togglePresencas()" data-tooltip="Mostrar Tabela de Presença">
          <i class="fas fa-table"></i><span class="link-text">Mostrar Tabela de Presença</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" onclick="toggleGrafico()" data-tooltip="Visualizar Gráficos">
          <i class="fas fa-chart-bar"></i><span class="link-text">Visualizar Gráficos</span>
        </a>
      </li>

      <li>
        <button id="gerar-pdf" data-tooltip="Gerar Relatório PDF">
          <i class="fas fa-file-pdf"></i><span class="link-text">Gerar Relatório PDF</span>
        </button>
      </li>
      <!-- <li>
        <button id="gerar-csv" data-tooltip="Gerar Relatório CSV">
          <i class="fas fa-file-csv"></i><span class="link-text">Gerar Relatório CSV</span>
        </button>
      </li> -->
      <li>
        <a href="javascript:void(0);" onclick="logout()" data-tooltip="Logout">
          <i class="fas fa-sign-out-alt"></i><span class="link-text">Logout</span>
        </a>
      </li>
    </ul>
    <div id="resizer"></div>
  </div>

  <!-- Main Content -->
  <div id="main-content">
    <header>
      <h1>Bem-vindo ao Sistema de Monitoria</h1>
    </header>

    <main>
      <div id="conteudo"></div>

      <!-- Tabela de Presenças (oculta por padrão) -->
      <div id="conteudo-presencas" style="display: none;">
        <h2>Lista de Presenças</h2>
        <table>
          <thead>
            <tr>
              <th>Data</th>
              <th>Horário</th>
              <th>Nome do Aluno</th>
              <th>Turma</th>
              <th>Conteúdo</th>
            </tr>
          </thead>
          <tbody id="tabela-presencas"></tbody>
        </table>
      </div>

      <!-- Div que irá mostrar os gráficos -->
      <div id="conteudo-graficos" style="display: none;">
        <div class="charts-wrapper">
          <div class="chart-box">
            <canvas id="graficoPresencasPorData"></canvas>
          </div>
          <div class="chart-box">
            <canvas id="graficoPresencasPorTurma"></canvas>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Sistema de Monitoria</p>
    </footer>
  </div>
<script src="/js/monitor.js"></script>

</body>

</html>
