
  
  /* Estilo da tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Cabeçalhos da tabela */
  th {
    background-color: #007BFF;
    color: #fff;
    padding: 12px;
    text-align: left;
    font-size: 16px;
  }
  
  /* Células da tabela */
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    text-align: left;
  }
  
  /* Estilo das linhas alternadas */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover nas células */
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Estilo para a tabela vazia */
  #tabela-presencas {
    text-align: center;
  }
  
  /* Adicionando um botão de ação (por exemplo, um botão de logout ou de adicionar nova presença) */
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  button:hover {
    background-color: #218838;
  }
   /* Footer */
   footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
  }
  
  footer p {
    color: #777;
  }